header{
    background-color: black;
    color:white;
}
h1{
    margin: 20px;
    text-align: center;
}h2
{
    margin: 20px;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
}
button{
    width: 90px;
    height: 45px;
    background-color: brown;
    margin: 30px;
}
img{
    width: 300px;
}