@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: black;
    text-align: center;
    font-family: "Ancizar Serif", serif;
    margin: 0px;
    outline: none;
    height: 100vh;
    justify-content: center;
    background-image:url(bg.webp);
    background-repeat: no-repeat;
}

header { 
    background-color: black;
    color:white;
}

h1 {
    margin: 5px;
    color: white;
    text-align: center;
    font-family: "Ancizar Serif", serif;
}
h2 {
    margin: 20px;
    text-align: center;
    font-family: "Ancizar Serif", serif;
}
p {
    color: white;
    margin: 0px auto;
    font-size: medium;
    
}

button {
    width: 200px;
    height: 60px;
    background-color: brown;
    margin: 30px;
    font-family: "Ancizar Serif", serif;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;

}
button:hover {
    background-color: #ff7373;

}

.box {
    border: 7px double white;
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 150px;
    margin: 20px auto;
    
}


.title{
    
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 400px;
    
}

.firstFinal{
    width: 300px;
    height: 300px;
    margin: center;
}

.textFinal{
    font-size: 13.5px;
}

img {
    margin-top: 20px;
    width: 300px;
}




.final {
    color: #ff3300;
    font-weight: bold;
}